<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
        <style>
            body {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        </style>
    </head>
    <body>
        <h2>Sign Up</h2>
        <div>
            <form method="POST" action="/user">
                <label>Full Name</label>
                <input type="text" name="name" placeholder="Jhon Doe" required autocomplete="off"/>
                <br />
                <label>Email</label>
                <input type="email" name="email" placeholder="example123@xyz.com" required  autocomplete="off"/>
                <br />
                <label>Password</label>
                <input type="password" name="password" placeholder="******" required />
                <br />

                <button type="submit">SignUp</button>

            </form>
        </div>
    </body>
</html>
